<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.5.2" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.11.4" targetFramework="net472" />
  <package id="UniverseLib.Analyzers" version="1.0.3" targetFramework="net472" developmentDependency="true" />
  <package id="UniverseLib.IL2CPP" version="1.3.7" targetFramework="net472" />
  <package id="UniverseLib.Mono" version="1.3.7" targetFramework="net35" />
</packages>